<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="camelcode.courtcalculator2" android:versionCode="6" android:versionName="2.3" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<application android:label="Court Calculator" android:theme="@style/MyCustomTheme" android:icon="@drawable/icon"></application>
</manifest>